.About {
  position: relative;
  left: 100px; /* from the left, in the opposite direction 100 pixels */
  width: 700px;
  height: 200px;
  margin: 25px;
  margin-bottom: 200px;
  padding-top: 20px;
  margin-left: 500px;
  margin-top: 100px;
  font-family: "roma-inscribed", sans-serif;

  font-weight: 400;

  font-style: normal;

background-image: url(../img/y-so-serious-white.png);



}

body {
  font-family: "aw-conqueror-carved", sans-serif;

  font-weight: 400;

  font-style: normal;
  width: 90%;
  margin: 0 auto;
  background-image: url(../img/y-so-serious-white.png);
}

.prototypes{
  /* flex-direction: row; */
  font-family: "roma-inscribed", sans-serif;

  font-weight: 400;

  font-style: normal;
  text-align: center;
  /* padding-bottom: 5%; */
  border: solid;
  box-shadow: 2px 5px black;
  /* padding-top: 5%; */
    background-color: rgba(128, 0, 0, 0.5);
    box-sizing: border-box;
}

.audiogroup{
  padding-top: 25px;
}


.headshot{
width: 23%;
/* padding-left: 20px; */
float: left;
padding-top: 120px;
padding-left: 200px;
}

.headshot> img{
width:50%;

}

.stool {
/* float: right; */
padding-top: 40px;
padding-left:90px;
  width:30%;
    /* margin-bottom: 65px; */
}


}

.stool >img{
  width: 100%;
  /* padding-right: 40px; */
}

.compressor1 {
  /* float: right; */
  /* margin-left: 50px; */
  width: 35%;
  padding-bottom: 5%;
/* padding-left: 100px; */
padding-top: 80px;
/* justify-content: center; */
margin-left: 400px;
}

.compressor1 >img{
  width: 100%;
}

.furniture {
  float: right;
  /* padding-bottom: 80px; */
width: 25%;
margin-right:400px;
padding-top: 40px;

}


.furniture >img{
  width:100%;
}

/* .animate span{
  display: inline-block;
  color: #b10e81;
	opacity: 0;
	transform: translate(-300px, 0) scale(0);
	animation: sideSlide .5s forwards; */
}

.animate span:nth-of-type(2) {
	animation-delay: .05s;
}
.animate span:nth-of-type(3) {
	animation-delay: .1s;
}
.animate span:nth-of-type(4) {
	animation-delay: .15s;
}
.animate span:nth-of-type(5) {
	animation-delay: .2s;
}
.animate span:nth-of-type(6) {
	animation-delay: .25s;
}
.animate span:nth-of-type(7) {
	animation-delay: .3s;
}
.animate span:nth-of-type(8) {
	animation-delay: .35s;
}
.animate span:nth-of-type(9) {
	animation-delay: .4s;
}
.animate span:nth-of-type(10) {
	animation-delay: .45s;
}
.animate span:nth-of-type(11) {
	animation-delay: .5s;
}
.animate span:nth-of-type(12) {
	animation-delay: .55s;
}


.box1{
  width: 85%;
  height: 40%;
padding-left: 80px;
  /* margin-bottom: 100px; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding-bottom: 20px;

}

.box2{
  width: 80%;
  height: 40%;
padding-left: 80px;
  margin-bottom: 200px;
}

.box3{
  width: 80%;
  height: 40%;
 padding-left: 80px;
   margin-bottom: 100px;
   /* margin-top: 100px; */
   /* justify-content: center; */
   display: flex;
   flex-direction: row;
   justify-content: center;
}


.box4{
  width: 80%;
  height: 40%;
 padding-left: 80px;
   margin-bottom: 200px;
   display: flex;
   flex-direction: row;
   justify-content: center;

}

.video{
  width:70%;
  padding-top: 50px;
  padding-left: 170px;
  padding-bottom: 25px;

}

.video > video {
  width:100%;

}



   /* .box5{
     width: 80%;
     height: 40%;
    padding-left: 80px;
      margin-bottom: 200px;

} */




.group:after {
  content: "";
  display: table;
   clear: both;
}


a {
  text-decoration: none;
  transition: 1s;
  transition-duration: 8ms;
  transition-timing-function: cubic-bezier(.41,.47,.61,1.03);
}

a:visited {
  color: black;
}


a:hover {
  text-decoration: underline;
  color: red;
}

a:active {
  color: black;
}

ul, li {
  list-style-type: none;
  display: inline-flex;
  padding-left: 5%;
  padding-right: 5%;



}

ul {
  /* width: 75%; */
/* margin-right: 10% */
}

li > a {
  color: burgundy;
}


nav {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
font-family: "aw-conqueror-carved", sans-serif;

font-weight: 400;

font-style: normal;

}

nav > a {
  color: black;
align-self: center;
}

form {
  width: 65%;
  padding: 2%;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.5 ) ;
align-self: center;
}

.Contact {
  /* background-color: blue; */
  height: 25vh;
  background-image: url(../img/y-so-serious-white.png);
background-size: contain;
/* background-repeat: no-repeat; */
display: flex;

}

.notebox{
  flex-direction: row;
  font-family: "roma-inscribed", sans-serif;

  font-weight: 400;

  font-style: normal;
}

.emailbox{
  padding: 2%;
  width:65%;
  margin-right: 5%;


}

.Submitbutton{
padding: 2%;
width: 15%;

}

.animate{
  animation-name: batman;
  animation-duration: 5s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}


.drop{
 visibility: hidden;

}

.contact{
  display: flex;
  flex-direction: row;

}

.notebox{
  width: 50%;
  padding: 5%;

}


.socialbox{
  width: 50%;
  padding: 5%;

}


.socialboxbox{
  display: flex;
  flex-direction: column;
margin-top: 80px;
}

a.social{
padding: 5%;

}



@keyframes batman {
  0% {transform: translate(0,0);}
  100% {transform: translate(200px, 0);}

}


@media all and (min-width:320px) and (max-width:780px) {
  .stool{
    float: none;
    padding-top: 0;
    margin-left:0;
  }

  .furniture{
    float: none;
    padding-top: 0;
    margin-left:0;
  }

  .compressor{
    float: none;
    padding-top: 0;
    margin-left:0;
  }
}
